@import "header","footer";


.accordion{
    margin: 20px auto;
     font-family: 'Roboto', sans-serif;
    font-size:2rem ;
}
.accordion-header{
    font-family:'Pattaya'; 
     
}
.accordion-collapse{
     background-color: #8cbf3f ;

}
.accordion-button{
   background-color:#f2cc0f ;
 
}
